// Here you can add other styles

body {
  background-color: #ffffff;
}

.sidebar .nav-link * {
  vertical-align: middle;
}

.sidebar .nav-link .nav-icon {
  vertical-align: sub;
}

.sidebar .nav-link .badge {
  margin-top: 6px;
}