// Here you can add other styles

body {
  background-color: #ffffff;
}

.sidebar .nav-link * {
  vertical-align: middle;
}

.sidebar .nav-link .nav-icon {
  vertical-align: sub;
}

.sidebar .nav-link .badge {
  margin-top: 6px;
}

.app-header .dropdown-item {
  min-width: 250px;
}

// Indentation of sidebar menu items
.sidebar
  .ps
  .nav-dropdown
  > .nav-dropdown-items
  > .nav-item
  > .nav-link {
  padding-left: 1.5rem;
}
.sidebar
  .nav-dropdown
  > .nav-dropdown-items
  > .nav-dropdown
  > .nav-dropdown-items
  > .nav-item
  > .nav-link {
  padding-left: 2.0rem;
}

.sidebar .nav-dropdown a.router-link-exact-active.open.active.nav-link {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.select-with-options > select {
  border-bottom-left-radius: 0;
}
.select-with-options > .btn-group .btn {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
}

button.mdi:before {
  vertical-align: sub;
}

.tab-content {
  margin-top: 0;
  background: unset;
  border: 0px;
}

.map-tabs .tab-content .tab-pane {
  padding: 0;
}

.nav-item .dropdown-menu .dropdown-item .badge {
  margin-top: 7px;
}

.leaflet-popup-content-wrapper {
  border-radius: 0;
  border-radius: 4px;
}
.leaflet-popup-content {
  min-width: 300px !important;
}

.table-sort-up:before {
  content: '▲';
  margin-left: 4px;
}

.table-sort-down:before {
  content: '▼';
  margin-left: 4px;
}

.b-dropdown i.mdi {
  vertical-align: inherit;
}

.table tbody i.mdi {
  display: inline-flex;
}

.b-dropdown i.mdi,
.nav-item i.mdi,
.modal-footer .btn i.mdi,
.v-context i.mdi,
i.mdi-36px,
i.mdi.fix-alignment {
  vertical-align: sub;
}

.table thead th * {
  vertical-align: bottom;
}
.table thead th .custom-checkbox * {
  vertical-align: text-top;
}

.mdi-heading {
  display: flex;
  align-items: center;
}

.mdi-heading small {
  display: contents;
}

.mdi-heading span {
  margin: 0 0.5rem;
}

.dropdown-item i.mdi {
  color: inherit;
}

.table tfoot p {
  margin-top: 0.75rem;
  margin-bottom: 0;
}

.table tfoot td {
  padding-top: 0;
  padding-right: 0;
}

.table tfoot li.VuePagination__pagination-item.page-item a {
  border-top: 0;
}

.table tfoot li.VuePagination__pagination-item.page-item:first-child a {
  border-top-left-radius: 0;
}

.table tfoot li.VuePagination__pagination-item.page-item:last-child a {
  border-top-right-radius: 0;
}

i.flag-icon {
  font-size: 1.3rem;
  vertical-align: sub;
}

.input-group-text {
  padding-top: 0;
  padding-bottom: 0;
}

.app-header {
  height: auto;
  min-height: 55px;
}

.tooltip {
  top: 0;
}

.carousel-caption h3 {
  font-size: 0.8rem;
}

.text-center .plotly .svg-container {
  margin-left: auto !important;
  margin-right: auto !important;
}

/* Leaflet customization */
.marker-cluster, .prunecluster {
	color: white;
}

.marker-cluster-small, .prunecluster-small {
	background-color: rgba(124, 179, 218, 0.6);
}
.marker-cluster-small div, .prunecluster-small div {
	background-color: rgba(124, 179, 218, 0.8);
}

.marker-cluster-medium, .prunecluster-medium {
	background-color: rgba(62, 139, 193, 0.6);
}
.marker-cluster-medium div, .prunecluster-medium div {
	background-color: rgba(62, 139, 193, 0.8);
}

.marker-cluster-large, .prunecluster-large {
	background-color: rgba(15, 112, 182, 0.6);
}
.marker-cluster-large div, .prunecluster-large div {
	background-color: rgba(15, 112, 182, 0.8);
}

@media (min-width: 576px) {
  .carousel-caption h3 {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .carousel-caption h3 {
    font-size: 1.53125rem;
  }
}

@media print {
  .modal-open {
    overflow: auto;
  }
  .modal-backdrop {
    display: none !important;
  }
}

@media (max-width: 991.98px) {
  .app-header .navbar-brand {
      position: absolute;
      left: 0;
      margin-left: 54px;
  }
  .app-header .navbar-brand {
    justify-content: left;
  }
}